@page
@model AdminApp.Pages.ViewUsersModel
@{
    ViewData["Title"] = "ViewUsers";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />

<div class="container row">

    <div class="col-9">
        <h2 class="text-info">User List</h2>
    </div>

    <div class="col-3">
        <a asp-page="Signup" class="btn btn-info form-control text-white">Add User</a>
    </div>

    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.Users.Count() > 0)
            {
                <table class="table table-striped table-success border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Users.FirstOrDefault().Fullname">Name</label>
                        </th>

                        <th>
                            <label asp-for="Users.FirstOrDefault().Department">Department</label>
                        </th>

                        <th>
                            <label asp-for="Users.FirstOrDefault().IsAdmin" class="border-right">User type</label>
                        </th>

                        <th>
                            <label>Actions</label>
                        </th>

                        <th>
                            <label>Caution</label>
                        </th>
                    </tr>

                    @foreach (var someUser in Model.Users)
                    {
                        <tr>
                            <td>
                                <a asp-route-id="@someUser.eMail">@Html.DisplayFor(m => someUser.ToString)</a>
                            </td>

                            <td>
                                @Html.DisplayFor(m => someUser.Department)
                            </td>

                            <td>
                                @if (someUser.IsAdmin)
                                {
                                    <span>Admin</span>
                                }
                                else if (someUser.IsElevatedUser)
                                {
                                    <span>Store Manager</span>
                                }
                                else
                                {
                                    <span>User</span>
                                }
                            </td>

                            <td>
                                @if (someUser.IsElevatedUser)
                                {
                                    <button class="btn btn-danger text-white" asp-route-id="@someUser.eMail" asp-page-handler="demote">Demote</button>
                                    <button asp-page-handler="elevate" class="btn btn-primary text-white" asp-route-id="@someUser.eMail">Promote</button>
                                }
                                else if (someUser.IsAdmin)
                                {
                                    <button class="btn btn-danger text-white" asp-route-id="@someUser.eMail" asp-page-handler="demote">Demote</button>
                                }
                                else if (!someUser.IsAdmin && !someUser.IsElevatedUser)
                                {
                                    <button asp-page-handler="elevate" class="btn btn-primary text-white" asp-route-id="@someUser.eMail">Promote</button>
                                } 
                            </td>

                            <td>
                                <button OnClick="return confirm('Are you sure you want to remove this account')" asp-page-handler="delete" class="btn btn-danger btn-sm text-white" asp-route-id="@someUser.eMail">Remove</button>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>You have not added any users</p>
            }
        </form>
    </div>
</div>

